<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Special+Gothic+Condensed+One&display=swap" rel="stylesheet">
</head>
<body>
    <div class="intro">
        <h1>INTRO-</h1>
        <h1 class="ducing">DUCING</h1>
        <h1 class="plant-text">PLANT</h1>
        <H1 class="knowledge">KNOWLEDGE</H1><hr>
        <p>Your one-stop spot for every</p>
        <p>plant — with smart AI support.!</p>
        <form action="/login" method="get">
            <button>Get Started</button>
        </form>
    </div>
    <div class="illus"></div>
</body>
</html>
